<!DOCTYPE HTML>

<html>
	<head>
		<title>BILL BENSON</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}" />


		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='/static/assets/css/noscript.css') }}" /></noscript>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>HI, I'm Bill Benson</h1>
								<p>Aspiring ethical hacker and i love programming. If you want some proof, please take a look at my projects!</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Projects</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Intro</h2>
								<span class="image main"><img src="/static/images/intro2.jpg" alt="" /></span>
								<p>HI, i'm Bill Benson. Cybersecurity Enthusiast and Python Programmer on a mission to reshape the digital landscape. Dive into my portfolio and discover a fusion of innovative code, creative solutions, and a commitment to ethical hacking..
								<p>"Unlocking a Secure Future: Ethical Hacker on a Mission to Safeguard Cyberspace."</p>
								<p>My passion lies in making the internet a safer place. With a focus on cybersecurity, ethical hacking, and programming, I am developing my skills to contribute significantly to digital security. My goal is to offer cybersecurity services worldwide, ensuring a secure online environment.</p>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Projects</h2>
								<span class="image main"><img src="/static/images/work.avif" alt="" /></span>
								<p>These are projects that i have worked on in the past few months to develop my skills. The source code to these projects can be found on my <a href="https://github.com/Bill-Benson" target="_blank">Github.</a> Platforms and technologies include: Python, Linux, Metasploitable, Beef-XSS, VirtualBox, scapy, windows 11, flask...</p>
								 <!-- Project 1: Vulnerability Scanner -->
							    <section>
							        <h3>Vulnerability Scanner</h3>
							        <p>Implemented a Python-based vulnerability scanner to discover XSS vulnerabilities on websites. <a href="https://github.com/Bill-Benson/web-application-hacking/blob/main/scanner.py" target="_blank">See More</a></p>
							    </section>

							    <!-- Project 2: Backdoor (Malware) -->
							    <section>
							        <h3>Backdoor (Malware)</h3>
							        <p>Built a backdoor using sockets in python for remote access to target host. (Ethical Hacking). <a href="https://github.com/Bill-Benson/Backdoor-Malware-" target="_blank">See More</a></p>
							    </section>

							    <!-- Project 3: Keylogger (Malware) -->
							    <section>
							        <h3>Keylogger (Malware)</h3>
							        <p>Created keylogger using Simple Mail Transfer Protocol(SMTP) to report keystrokes. (Ethical Hacking). <a href="https://github.com/Bill-Benson/Malwares/blob/main/keylogger.py" target="_blank">See More</a></p>
							    </section>

							    <!-- Project 4: Networking Hacking Tools -->
							    <section>
							        <h3>Networking Hacking Tools</h3>
							        <p>Python scripts for network hacking/spoofing while developing my programming skills. They include a network scanner, Mac address changer, arp spoofer, packet sniffer, DNS spoofer, and Code Injector. <a href="https://github.com/Bill-Benson/Network-Hacking-Tools" target="_blank">See More</a></p>
							    </section>

							    <!-- Project 5: Password Checker -->
							    <section>
							        <h3>Password Checker</h3>
							        <p>Developed a Python script to check if a password has ever been in a data breach, communicating with the API of "pwnedpasswords.com". <a href="https://github.com/Bill-Benson/Pwned-Password-" target="_blank">See More</a></p>
							    </section>

							    <!-- Project 6: Web Scraping -->
							    <section>
							        <h3>Web Scraping</h3>
							        <p>Crafted a Python program for web scraping, extracting important news with over 100 votes from HackerNews. <a href="https://github.com/Bill-Benson/scrape" target="_blank">See More</a></p>
							    </section>

							    <!-- Project 7: Portfolio Website -->
							    <section>
							        <h3>This Portfolio Website</h3>
							        <p>I customized an HTML5 template, while utilizing Python and Flask for the backend of this portfolio website. <a href="https://github.com/Bill-Benson/Portfolio" target="_blank">See More</a></p>
							    </section>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="/static/images/about2.avif" alt="" /></span>
								<section>
								<h3>🛡️ Guardian of the Virtual Realm</h3>
								<p>I have a Bachelor's degree in Computer Science from the univerity of Ibadan, Nigeria. With a keen eye for security, I embark on ethical hacking adventures to identify and fortify vulnerabilities.</p>
								</section>

									<section>
						        <h3>🚀 Continuous Learning, Ever-evolving</h3>
						        <p>In this fast-paced digital era, I embrace the ethos of continuous learning. Explore my journey of growth and evolution through the ever-expanding realms of technology. I have the <a href="https://coursera.org/verify/professional-cert/2XFY2LSHQFYY" target="_blank">Google Cybersecurity Professional Certificate<a> and I am currently studying for the Junior Penetration Tester (eJPT) Certification.</p>
						    	</section>

								<section>
						        <h3>💻 Skills and Technologies</h3>
						        <p>Network Security, SIEM, Intrusion Detection and IDS tools, Linux, Network Analyzer (sniffing) tools, NIST Cybersecurity Framework, Python, SQL, Threat Analysis, Vulnerability Assessment, Risk Assessment, Beef-XSS, Windows 11, Scapy, aircrack-ng, wifite, airodump-ng, bettercap...</p>
						    	</section>

						    	<section>
						        <h3>🎨 Interests and Hobbies</h3>
						        <p>Gaming, basketball, and chess.</p>
						    	</section>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form method="post" action="/submit_form">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary"/></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="https://drive.google.com/file/d/1GnMHGwJx0Gw_BZ_Hqf7PQ3WAAnLKGCl3/view?usp=sharing" target="_blank" class="icon solid fa-file"><span class="label">Resume</span></a></li>
									<li><a href="mailto:billbenson886@gmail.com?subject=Portfolio%20Inquiry&body=Hello%20Bill," target="_blank" class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
									<li><a href="https://github.com/Bill-Benson" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="mailto:billbenson886@gmail.com?subject=Portfolio%20Inquiry&body=Hello%20Bill," class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
							<li><a href="https://drive.google.com/file/d/1GnMHGwJx0Gw_BZ_Hqf7PQ3WAAnLKGCl3/view?usp=sharing" target="_blank" class="icon solid fa-file"><span class="label">Resume</span></a></li>							
							<li><a href="https://github.com/Bill-Benson" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>					
					</footer>

			</div>

		<!-- BG -->
			<div id=bg></div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>


	</body>
</html>
