<!DOCTYPE HTML>
<html>
	<head>
		<title>BILL BENSON</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='/static/assets/css/noscript.css') }}" /></noscript>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>THANK YOU. I WILL GET IN TOUCH WITH YOU SHORTLY</h1>
							</div>
						</div>
					</header>

				<!-- Main -->
					

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/bill-benson-1930a923a" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="mailto:billbenson886@gmail.com?subject=Portfolio%20Inquiry&body=Hello%20Bill," class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
							<li><a href="https://drive.google.com/file/d/1GnMHGwJx0Gw_BZ_Hqf7PQ3WAAnLKGCl3/view?usp=sharing" target="_blank" class="icon solid fa-file"><span class="label">Resume</span></a></li>
							<li><a href="https://github.com/Bill-Benson" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</footer>

			</div>

		<!-- BG -->
			<div id=bg></div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>


	</body>
</html>
